<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="/js/controlOutput.js" defer></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>明細追加画面</title>
</head>
<body>
	<h1>明細追加画面</h1>
	<p><form class="left-form"><input type="submit" value="一覧へ戻る" formaction="/uda-payments" formmethod="GET"/></form></p>
	<form method="post" th:action="@{/uda-payments/add}">
		日時：<input type="date" name="date" required><br>
		収入/支出：<input type="radio" name="budgetType" value="収入" onclick="hideExpenditure()">収入 <input type="radio" name="budgetType" value="支出" onclick="hideIncome()">支出<br>
		収支明細種別：<select id="select", name="budgetDetailType" required disabled>
			  <option value="" selected>選択してください</option>
			  <option id="1", value="給与">給与</option>
			  <option id="2", value="賞与">賞与</option>
			  <option id="3" value="食費">食費</option>
			  <option id="4" value="日用品">日用品</option>
			  <option id="5" value="交通費">交通費</option>
			  <option id="6" value="趣味">趣味</option>
			  <option id="7" value="衣服/美容">衣服/美容</option>
			  <option id="8" value="交際費">交際費</option>
			  <option id="9" value="健康/医療">健康/医療</option>
			  <option id="10" value="教育/教養">教育/教養</option>
			  <option id="11" value="水道/光熱費">水道/光熱費</option>
			  <option id="12" value="通信費">通信費</option>
			  <option id="13" value="住宅ローン">住宅ローン</option>
			  <option id="14" value="車">車</option>
			  <option id="15" value="税/社会保障">税/社会保障</option>
			  <option id="16" value="保険">保険</option>
			  <option id="17" value="資産形成">資産形成</option>
			  <option value="その他">その他</option>
		</select><br>		
		金額：<input type="number" name="price" oninput="sliceMaxLength(this, 8)" required>円<br>
<!--		TODO 備考欄の文字数が少ない-->
		備考：<input type="text" name="name"	maxlength="15" size="30"><br>
		<br>
		<input type="submit" value="登録">
	</form>
</body>
</html>