<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>明細追加完了画面</title>
</head>
<body>
	<h1>明細追加完了画面</h1>
	明細追加完了しました。
	<table class="table table-striped">
		<tr>
			<th>収支年月日</th>
			<th>収入/支出</th>
			<th>収支明細種別</th>
			<th>金額</th>
			<th>備考</th>
		</tr>

		<tr th:Object="${udaPayment}">
				<td th:text="${udaPayment.date}"></td>
				<td th:text="${udaPayment.budgetType}"></td>
				<td th:text="${udaPayment.budgetDetailType}"></td>
				<td th:text="${udaPayment.getPrice} + '円'"></td>
				<td th:text="${udaPayment.name}"></td>
		</tr>
	</table>
	<form><input type="submit" value="一覧へ戻る" formaction="/uda-payments" formmethod="GET"/> <input type="submit" value="続けて明細追加する" formaction="/uda-payments/add" formmethod="GET"/></form>
</body>
</html>