<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>明細削除画面</title>
</head>
<body>
<h1>明細削除画面</h1>
<p style="text-align:center">下記データを削除してよろしいですか？</p>

	<table class="table table-striped">
		<tr>
			<th>収支年月日</th>
			<th>収入/支出</th>
			<th>収支明細種別</th>
			<th>金額</th>
			<th>備考</th>
		</tr>

		<tr th:Object="${udaPayment}">
				<td th:text="${udaPayment.date}"></td>
				<td th:text="${udaPayment.budgetType}"></td>
				<td th:text="${udaPayment.budgetDetailType}"></td>
				<td th:text="${udaPayment.getPriceForDisplay} + '円'"></td>
				<td th:text="${udaPayment.name}"></td>
		</tr>
	</table>

	<form method="post" th:action="@{/uda-payments/delete}">
		<input type="hidden" name="id" th:value="${udaPayment.id}"/>
		<input type="submit" value="はい"/>
		<input type="submit" value="いいえ" formaction="/uda-payments" formmethod="GET"/>
	</form>

</body>
</html>