<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<title>家計簿</title>
</head>
<body>
	<h1>家計簿一覧</h1>
	<p><form class="right-form"><input type="submit" value="明細追加" formaction="/uda-payments/add" formmethod="GET"/></form></p>
	
	<form method="post" th:action="@{/uda-payments/findByYearAndMonth}">
		集計したい年月：
		<input type="text" name="year" oninput="sliceMaxLength(this, 4)" size="4" required>年
		<input type="text" name="month" oninput="sliceMaxLength(this, 4)" size="4" required>月
		<input type="submit" value="集計">
	</form>

	<h3 th:if="${year != null}" th:text="${year} + '年' + ${month} + '月の集計'"></h3>
	
	<table class="table table-striped">
		<tr>
			<th>収支年月日</th>
			<th>収入/支出</th>
			<th>収支明細種別</th>
			<th>金額</th>
			<th>備考</th>
			<th></th>
		</tr>

		<tr th:each="udaPayment : ${list}">
				<td th:text="${udaPayment.date}"></td>
				<td th:text="${udaPayment.budgetType}"></td>
				<td th:text="${udaPayment.budgetDetailType}"></td>
				<td th:text="${udaPayment.getPriceForDisplay} + '円'"></td>
				<td th:text="${udaPayment.name}"></td>
				<td>
					<form method="post" th:action="@{/uda-payments/find-by-id}">
						<input type="hidden" name="id" th:value="${udaPayment.id}"/>
						<input type="submit" value="削除"/>
					</form>
				</td>
		</tr>
	</table>
	
	<table class="table right-form">
		<tr class="bold">
			<th></th>
			<td th:if="${totalPrice > 0}" th:style="'color:blue;'" th:text="'収支総計：' + ${totalPrice} + '円'"></td>
			<td th:if="${totalPrice == 0}" th:text="'収支総計：' + ${totalPrice} + '円'"></td>
			<td th:if="${totalPrice < 0}" th:style="'color:crimson;'" th:text="'収支総計：' + ${totalPrice} + '円'"></td>
		<tr>
	</table>
	
</body>
</html>